<div class="container">
  <h2>Enter File Path Below </h2>
  <h4>Start searching path using / character , linux based file systems supported only</h4>
  <div style="padding-bottom: 0.3rem;">
    <input type="text" class="form-control" 
    #dirPath 
    placeholder="enter location" 
    [(ngModel)]="findLocation"
    (input)="getlocation(dirPath.value)"
    > 
  </div>

  <form>
    <div class="list-group">
      <ul class="list-group" *ngFor="let path of dirPaths | async">
        <li class="list-group-item d-flex justify-content-between align-items-center" 
        >
         <div (click)="updatePath(path.isDir ? path.path : '')"
            >
            PATH :{{path.path}}
            SIZE : {{path.size}}
            DIR: {{path.isDir}}
            MODIFIED: {{ path.modified }}
            CREATED :  {{ path.created }}
            TYPE: {{ path.type}}
         </div>
        </li>
      </ul>
     
      

    </div>
  </form>

</div>